<ion-header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Create Listing</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createListingForm">
    <ion-grid>
      <ion-row>
        <ion-col style="width: 100%">
          <div class="ion-padding-top">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                name="name"
                matInput
                formControlName="name"
                placeholder="Name or Business"
              />
              <mat-error>Please enter a contact name.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input
                name="phone"
                matInput
                formControlName="phone"
                placeholder="Phone Number"
              />
              <mat-error>Please enter a phone number.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                name="email"
                matInput
                formControlName="email"
                placeholder="Email Address"
              />
              <mat-error>Please enter a valid email.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Details</mat-label>
              <textarea
                name="details"
                matInput
                formControlName="details"
                placeholder="Details of your listing"
              ></textarea>
            </mat-form-field>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="submit-button-container">
            <ion-button color="primary" type="submit" expand="block" strong
              >Create Listing</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
