ion-grid {
  max-width: 725px;
}
mat-toolbar h1 {
  margin: auto;
}

div {
  width: 80%;
  margin: auto;
  mat-form-field {
    width: 100%;
  }
}

.submit-button-container {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  ion-button {
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    font-size: large;
  }
}
